@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.solution-dropdown:hover .solution-menu {
  display: block;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-routing-container-hide {
  display: none;
}

.ant-modal {
  min-width: 520px;
  width: fit-content !important;
}

.ant-modal-content {
  min-width: 600px;
  width: fit-content !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
